PyQt6
pynput
keyboard
mss
SpeechRecognition
pyaudio
pyautogui
google-generativeai
google-genai
requests
pytesseract
Pillow
python-dotenv
playwright
beautifulsoup4
faiss-cpu
json-repair
langchain
langchain-google-genai
langchain-mcp-adapters
langchain-ollama
langgraph
numpy
pyperclip
pygetwindow
pywinauto
readability-lxml
trafilatura
